<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ShoppingConnectionString"
            connectionString="Data Source=147.139.34.181,1232;Initial Catalog=mysunshinenet_db;Persist Security Info=True;User ID=sa;Password=sc^5rDV!bthacjVBa^S;Load Balance Timeout=600"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
   
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
</configuration>