<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
<configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Constring" connectionString="Data Source=147.139.29.87,1232;Initial Catalog=apexmart_db;User ID=apexmart_user; Password=Apenxghg$342~1548; Persist Security Info=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

    <!--<add key="MERCHANT_KEY" value="ccu1gVR" />
    <add key="SALT" value="vJXR1S6Sg" />
    <add key="PAYU_BASE_URL" value="https://secure.payu.in" />
    <add key="PAYU_BASE_URL1" value="https://test.payu.in/_payment" />-->


    <!--<add key="MERCHANT_KEY" value="HKoZzP" />
    <add key="SALT" value="7yBLucxH" />
    <add key="PAYU_BASE_URL" value="https://secure.payu.in" />
    <add key="PAYU_BASE_URL1" value="https://test.payu.in/_payment" />-->
    
    
    <!--<add key="MERCHANT_KEY" value="6ZqWZBBR" />
    <add key="SALT" value="WqRt3ICB9g" />
    <add key="PAYU_BASE_URL" value="https://secure.payu.in" />
    <add key="PAYU_BASE_URL1" value="https://test.payu.in" />-->
    
    <add key="KEY" value="4dc44306-9ab4-48f2-8176-676900de52ee" />
    <add key="SALT" value="hrdfPs-HNvX6679ZUprib" />
    <add key="UPI_URL" value="https://upigateway.com/gateway/payment" />
     <add key="hash" value="key|client_vpa|client_txn_id|amount|p_info|client_name|client_email|client_mobile|udf1|udf2|udf3|salt" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <add key="service_provider" value="payu_paisa" />
    <add key="submit" value="Pay via PayUMoney" />
    <add key="adminmemberid" value="EZ198646" />
    <add key="adminurl" value="https://aquapaisa.in/" />
    <add key="initial" value="SRDL" />
    <add key="action" value="" />
    <add key="hashSequence" value="key|client_vpa|client_txn_id|amount|p_info|client_name|client_email|client_mobile|udf1|udf2|udf3|salt" />
    <!--<add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />-->
    <add key="EmlPath" value="\EmailTemplates" />
    <add key="Phypath" value="" />
    <add key="mailFrom" value="support@apexmart.in" />
    <add key="mailTo" value="support@apexmart.in" />
    <add key="mailCC" value="support@apexmart.in" />
    <add key="mailBCC" value="support@apexmart.in" />
    <add key="SMTP" value="webmail.apexmart.in" />
    <add key="FROMEMAIL" value="support@apexmart.in" />
    <add key="FROMPWD" value="Apex@mart125" />
  </appSettings>
  
  <system.web>
    
    <sessionState timeout="120"></sessionState>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <globalization uiCulture="en-US" culture="en-US" enableClientBasedCulture="false" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="600" maxRequestLength="51200" />
    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <authentication mode="Forms" />

    <customErrors mode="Off" defaultRedirect="error.html">
      <!--<error statusCode="404" redirect="~/web2/404.html" />
			<error statusCode="401" redirect="~/web2/404.html" />
      <error statusCode="500" redirect="~/web2/ise.html" />-->
    </customErrors>
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        -->
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    <controls>
        <add tagPrefix="asp" assembly="DropDownListChosen" namespace="DropDownListChosen" />
      </controls></pages>
    <httpHandlers>
    </httpHandlers>
	<httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
		<modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
     
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="support@apexmart.in">
        <network host="webmail.apexmart.in" userName="support@apexmart.in" password="Apex@mart125" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="true" />
  </elmah>

  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to change the value to 
                    a larger value that can accommodate your JSON 
                    strings -->
        <jsonSerialization maxJsonLength="86753090" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--<location path="ex.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="ex.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      --><!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      --><!--  
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="ex.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
       <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>