body {
}
 .popupPanel
 {
		width:350px;
		height:150px;	
		/*background-color: #FFFFD5;*/
 }
 .Modalbg
        {
            position: absolute;
            z-index: 100;
            top: 0px;
            left: 0px;
            background-color: #000;
            filter: alpha(opacity=60);
            -moz-opacity: 0.6;
            opacity: 0.6;
        }