@keyframes go {
0% {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)
}
50% {
transform:scale(0.8);
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-ms-transform:scale(0.8);
-o-transform:scale(0.8)
}
100% {
transform:scale(1);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1)
}
}
@-webkit-keyframes go {
0% {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)
}
50% {
transform:scale(0.8);
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-ms-transform:scale(0.8);
-o-transform:scale(0.8)
}
100% {
transform:scale(1);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1)
}
}
@-moz-keyframes go {
0% {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)
}
50% {
transform:scale(0.8);
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-ms-transform:scale(0.8);
-o-transform:scale(0.8)
}
100% {
transform:scale(1);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1)
}
}
@-ms-keyframes go {
0% {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)
}
50% {
transform:scale(0.8);
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-ms-transform:scale(0.8);
-o-transform:scale(0.8)
}
100% {
transform:scale(1);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1)
}
}
@-o-keyframes go {
0% {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)
}
50% {
transform:scale(0.8);
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-ms-transform:scale(0.8);
-o-transform:scale(0.8)
}
100% {
transform:scale(1);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1)
}
}

.clr {
	clear: both
}

.footer_part {
	width: 100%;
	background: #c8eaf2;
	overflow: hidden
}
.footer_part .footer_btob {
	height: 450px;
	width: 100%;
	margin: auto
}
.footer_part .footer_btob .footer_left {
	width: 24%;
	float: left;
	height: 400px;
	position: relative
}
.footer_left .company_details {
	font-size: 14px;
	color: #6a6a6a;
	width: 300px;
	float: right;
	position: relative;
	top: 22px;
	z-index: 1;
}.footer_left .company_details h4 {
	font-size: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-top: 30px;
	color: #066c94;
	font-weight: 600;
}
.company_details h4::before {
	content: "";
	background: #066c94;
	width: 100px;
	height: 2px;
	position: absolute;
	top: 57px;
}
.footer_left .company_details ul {
	list-style: none;
	margin: 0;
	padding: 0
}
.footer_left .company_details ul li {
	display: block;
	background: url("../images/bullet.png") no-repeat left;
	padding-left: 20px;
	line-height: 22px;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out
}
.footer_left .company_details ul li a {
	text-decoration: none;
	display: block;
	color: #313131;
	font-size: 15px;
	font-weight: 600;
	padding: 5px 0;
}
.footer_left .company_details ul li a:hover {
	color: #004d74
}
.footer_left .company_details ul li a i {
	font-size: 18px;
}
.footer_left .company_details ul li:hover {
	background-position: 5px;
	padding-left: 22px
}
.footer_left .triangl {
	float: right;
	width: 540px;
	height: 252px;
	background: #066c94;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	position: absolute;
	right: -180px;
	bottom: -210px
}
.footer_middle {
	width: 36%;
	height: 450px;
	background: #fff;
	float: left;
	margin: auto;
	transform: skewX(25deg);
	-webkit-transform: skewX(25deg);
	-moz-transform: skewX(25deg);
	-o-transform: skewX(25deg);
	-ms-transform: skewX(25deg);
	position: relative;
	z-index: 2;
	box-shadow: 0px 0 50px 3px #000
}
.footer_middle .prodct_logo {
	width: 90%;
	-moz-transform: skewX(-23deg);
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}
.prodct_logo img {
	width: 144px;
	margin: 0 auto;
	text-align: center;
	display: block;
}
.prodct_logo p {
	font-size: 17px;
	padding-top: 13px;
	color: #5e5e5e;
}
.footer_middle .prodct_logo ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center
}
.footer_middle .prodct_logo ul li {
	width: 114px;
	height: 49px;
	background: url("../images/product_logo.png") no-repeat;
	background-position: 0 0;
	background-size: 528px;
	display: inline-block;
	margin: 4px 11px;
	position: relative;
	-ms-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	transform: skewX(-25deg);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg);
	-o-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg)
}
.footer_middle .prodct_logo ul li a {
	display: block;
	width: 100%;
	height: 100%
}

.footer_middle .prodct_logo ul li:hover {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.2);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.2);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: skewx(-25deg) scale(1.2)
}
.footer_middle .prodct_logo li:nth-child(2) {
	background-position: -141px 0px
}
.footer_middle .prodct_logo li:nth-child(3) {
	background-position: -274px 0px
}
.footer_middle .prodct_logo li:nth-child(4) {
	background-position: -141px -69px
}
.footer_middle .prodct_logo li:nth-child(5) {
	background-position: -278px -69px
}
.footer_middle .prodct_logo li:nth-child(6) {
	background-position: -410px -69px
}
.footer_middle .prodct_logo li:nth-child(7) {
	background-position: -141px -154px
}
.footer_middle .prodct_logo li:nth-child(8) {
	background-position: -279px -154px
}
.footer_middle .prodct_logo li:nth-child(9) {
	background-position: -410px -154px
}
.footer_middle .prodct_logo li:nth-child(10) {
	background-position: -137px -227px
}
.footer_middle .prodct_logo li:nth-child(11) {
	background-position: -279px -227px
}
.footer_middle .prodct_logo li:nth-child(12) {
	background-position: -0px -227px
}
.footer_middle .prodct_logo li:nth-child(13) {
	background-position: 0px -300px
}
.footer_middle .prodct_logo li:nth-child(14) {
	background-position: -410px 0px
}
.footer_middle .prodct_logo li:nth-child(15) {
	background-position: 0px -70px
}
.footer_middle .prodct_logo li:nth-child(16) {
	background-position: 0px -154px
}
.footer_middle .prodct_logo li:nth-child(17) {
	background-position: -0px -227px
}
.footer_middle .copyright {
	color: #000;
	text-align: center;
	line-height: 24px;
	transform: skewX(-25deg);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(0deg);
	-o-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	margin-top: 15px;
	border-top: 1px solid #000;
	margin-left: 47px;
	padding-top: 15px;
}
.footer_part .footer_btob .footer_middle .copyright .fago {
	color: #ff715a;
	-webkit-animation: go .8s linear infinite;
	-moz-animation: go .8s linear infinite;
	-ms-animation: go .8s linear infinite;
	animation: go .8s linear infinite;
	width: 18px;
	height: 14px;
	display: inline-block;
	text-align: center;
	margin: 0 0px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAuCAMAAABd9bpjAAABFFBMVEX/cVr/////cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVr/cVqnwZ3ZAAAAW3RSTlMAAAUHCQwPERsdHy01NkBDREVGSEtTV1pfYGRnaWpscHN3e3x/gIKEi4yPkJGSlJeam5yen6OkpaausLa7vL/Aw8bHycrN0tnd3t/g4eLj5err7O3u7/Lz9/n6/Zdw/QAAASlJREFUeNqV1FdTAmEMheGzKvZesPeu2BFsWMDedUHU/P//Ie7OelwYzZf3MjPPRS4SsLaprVwhf5gaaeasb+n41i89nW8MNSLM8xA1nJeoj/1eBE1cyU+ltZY46bqQWAetQPelxCqP/SYzUp3fkZSaMiSr4lguIgviXDYkPWJo9JvUP1vIZ1OFTIupFQ91LzbynkC/GBvEupWkcWolBdxZySN8KymiaCWvuLeSa5xZyQk2rWQZA1bSiYY3m3jwgEUbGa+QRNkiboITS1pIe0CQcheTCAkyrmKOTynrJuZBQqMIEhpNgAR7uqgm2FU3jwjb+U/MgkQ3FCQ0miCh0QQJjSZIaBRBwtK1QiE0FAqhoVAIDYVCaCgUQkOhEBoKhdBQOBIcbeMP8gUl3yIAv8TVagAAAABJRU5ErkJggg==);
	background-size: 100% 100%;
	background-repeat: no-repeat
}
.footer_part .footer_btob .footer_middle .copyright .indias {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAhCAMAAACsowi2AAABZVBMVEUSiAf/mTMAfQASiAcpkhz7/Pn/kiT/mTP/nDr/9/D///8AfQAPD4oSiAcWFo0nkRsokRspkhwslR4tlR4zM6A0NKE4OKI6oiQ6oyQ8PKQ+PqVCQqRGRqdGRqlHR6lISKhOTqtocspocsxpabppcsprdc5xachxcbxycr9zasl1db93b8l3cMl6esGAgLyBgcGCgsGNjcqPj8SPj8eQkMiRkciTk8mTk8qTk8uUlMyVlcuZmc6Zmc+amtCbm8+ens6ios+oqNaxsdu1tdy9xe++t+nEvuvExOPEy/HIyOXS0uXS0urU1ObW1u3b2+7c3O7c3O/f3/Hg4PDk5PPl5fPm5vTn5/Pn5/Tp4ePp6fTq6vXr4+Tr6/bs7Pb09Pr29vv6/Pj7+/77/Pn8/Pz8/fn8/fr9/f3/kiT/mTP/mzr/nDr/nTv/njv/pz//qD//9u//9vD/9+7/9/D/+O////3///7///8Ue3SzAAAAC3RSTlPl5fLy8vLy8vLy8mWmbkYAAADeSURBVHgB7cvFWsNQEEDhiQsEFwjuENzd3d0dKkld0nn+PkBnce8mq5zt+X4QXI0rVwDN5UwLSRBEjXOmgp6g8pLpTMojlw5GobJc3vffX/xSMUtMA0ykOhnqG+w/IJdJk92mvceH/ZZNdvLacfW1tf7x2XPNTNYWcLK7y8H5GWYyt3M7WlM9cLk9xUyWl9Cx7ZHfxWlmctf5dL+6cvPde85McKP5+O35tH0W2QkejY1PDB8iTZQ/ogjGLs7+MfpDPAXkeqrahta2xjpyySBWcSaCZHEmBUFCApbElQVlXTK84aJ/Fv8AAAAASUVORK5CYII=);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 18px;
	height: 12px;
	display: inline-block;
	margin: 0 0px
}
.footer_part .footer_btob .footer_middle .copyright span {
	font-size: 17px;
	color: #090909;
}
.copyright a {
	color: #1497cf;
	font-size: 17px;
}
.copyright a:hover {
	color: #000;
}
.footer_part .footer_btob .footer-right {
	position: relative;
	width: 40%;
	float: right
}
.footer_part .footer_btob .footer-right .triang2 {
	float: left;
	width: 660px;
	height: 182px;
	background: #066c94;
	transform: rotate(-17deg);
	-webkit-transform: rotate(-17deg);
	-moz-transform: rotate(-17deg);
	-o-transform: rotate(-17deg);
	-ms-transform: rotate(-17deg);
	position:absolute;
	left: -120px;
	top: -106px
}

.footer-right .footer_rt_details {
	width: 100%;
	float: left;
	position: relative;
	top: 60px;
}
.footer-right .footer_rt_details .footer_sbmenu {
	width: 48%;
	float: left;
	padding-left: 40px;
	color: #6a6a6a;
	z-index: 1;
	position: relative;
}
.footer-right .footer_rt_details .footer_sbmenu:first-child {
	margin-right: 20px;
	border-right: 3px solid #066c94;
	padding-right: 10px;
	padding-bottom: 5px;
	top: 39px;
}
.footer-right .footer_rt_details .footer_sbmenu h4 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 0;
	text-align: center;
	padding: 8px 0;
	background: #1497cf;
	color: #fff;
	border: 2px solid #066c94;
	letter-spacing: 0.5px;
}
.footer-right .footer_rt_details .footer_sbmenu ul {
	list-style: none;
	margin: 0;
	padding: 0
}
.footer-right .footer_rt_details .footer_sbmenu ul li a {
	color: #066a90;
	text-decoration: none;
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding: 4px 0;
}
.footer-right .footer_rt_details .footer_sbmenu ul li a:hover {
	color: #223164;
	padding-left: 10px;
}
.footer-right .footer_rt_details .footer_sbmenu ul li:hover {
	background-position: 5px;
}
.footer-right .footer_rt_details .footer_sbmenu:nth-child(2) {
	padding-left: 0;
	width: 40%;
		top: -46px;
}
.footer-right .footer_rt_details .footer_sbmenu:nth-child(2) li:nth-child(1), body .footer_part .footer_btob .footer-right .footer_rt_details .footer_sbmenu:nth-child(2) li:nth-child(2), body .footer_part .footer_btob .footer-right .footer_rt_details .footer_sbmenu:nth-child(2) li:nth-child(3) {
	padding-left: 0;
	background: none
}
.contact-detail li {
	display: block ruby !important;
}
.contact-detail li i {
	font-size: 18px;
	color: #066c94;
	padding-right: 16px;
}
.contact-detail li i::after {
	content: ":";
	position: absolute;
	left: 25px;
}
.contact-detail li p {
	display: inline-flex;
	color: #000;
	padding-top: 10px;
	border-bottom: 2px solid #066c94;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.footer-right .footer_rt_details .footer_sbmenu .reach_us p {
	color: #6a6a6a;
	font-size: 14px;
	line-height: 20px
}
.footer-right .footer_rt_details .social_network .social-icon ul li:nth-of-type(1) a:hover .fa {
	color: #1933d1
}
.footer-right .footer_rt_details .social_network .social-icon ul li:nth-of-type(2) a:hover .fa {
	color: #21aae7
}
.footer-right .footer_rt_details .social_network .social-icon ul li:nth-of-type(3) a:hover .fa {
	color: #1875bd
}
.footer-right .footer_rt_details .social_network .social-icon ul li:nth-of-type(4) a:hover .fa {
	color: #ef1c21
}
.social_network h5 {
	font-size: 20px;
	color: #066b92;
	margin: 0;
	padding-bottom: 10px;
}
.footer-right .footer_rt_details .social_network .social-icon ul li i{
	font-size: 17px;
	color: #066c94;
	background: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.footer-bottom {
	width: 100%;
	padding: 31px 0;
	background: #066c94;
	position: relative;
	border-top: 10px solid #fff;
}
@media (min-width: 993px) and (max-width: 1200px) {

.footer_left {
	width: 25%
}
.footer_left .company_details {
	width: 90%
}
.footer_middle {
	width: 38%
}
.footer_middle .prodct_logo {
	width: 98%
}
.footer_middle .prodct_logo ul li {
	margin: 4px 2px
}
.footer-right .footer_rt_details {
	margin-top: -63px
}
.footer-right .footer_rt_details .social_network .social-icon ul li {
	margin-right: 5%
}
.footer-right .footer_rt_details .footer_sbmenu {
	padding-left: 14%;
	width: 41%
}
.footer-right .footer_rt_details .footer_sbmenu:nth-child(2) {
	width: 41%;
	margin-top: -44px
}
.footer-right .footer_rt_details .footer_sbmenu .reach_us p {
	margin-bottom: 0;
	font-size: 12px
}
.footer-right .footer_rt_details .footer_sbmenu ul li a {
	font-size: 12px
}
}
@media (max-width: 992px) {
.footer_btob {
	overflow: hidden;
	height: 390px
}
.footer_left .company_details {
	width: 180px
}
.footer_left .triangl {
	height: 222px;
	bottom: -130px
}
.footer-right .triang2 {
	width: 520px;
	height: 160px
}
.footer-right .triang2 .support-apps {
	margin: 94px auto 0
}
.footer-right .footer_rt_details .footer_sbmenu {
	padding-left: 7%;
	width: 46%;
	margin-top: -50px;
	font-size: 12px
}
.footer-right .footer_rt_details .footer_sbmenu h4 {
	font-size: 18px;
	margin-top: 25px
}
.footer-right .footer_rt_details .footer_sbmenu:nth-child(2) {
	width: 47%
}
footer-right .footer_rt_details .footer_sbmenu ul li a {
	font-size: 12px
}
.footer-right .footer_rt_details .footer_sbmenu .reach_us p {
	font-size: 12px
}
.footer-right .footer_rt_details .social_network .social-icon ul {
	padding-left: 0
}
.footer-right .footer_rt_details .social_network .social-icon ul li {
	margin-right: 10px
}
.footer-right .footer_rt_details .social_network .social-icon ul li .fa {
	font-size: 34px
}
.footer_middle {
	transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
	-moz-transform: skewX(15deg);
	-o-transform: skewX(15deg);
	-ms-transform: skewX(15deg);
	height: 393px
}
.footer_middle .prodct_logo ul li {
	width: 62px;
	height: 29px;
	background-size: 290px;
	transform: skewX(-12deg);
	-webkit-transform: skewX(-12deg);
	-moz-transform: skewX(-12deg);
	-o-transform: skewX(-12deg);
	-ms-transform: skewX(-12deg)
}
.footer_middle .prodct_logo ul li:hover {
	transform: skewx(-12deg) scale(1.2);
	-webkit-transform: skewx(-12deg) scale(1.2);
	-ms-transform: skewx(-12deg) scale(1.2);
	-moz-transform: skewx(-12deg) scale(1.2)
}
.footer_middle .prodct_logo ul li:nth-child(2) {
	background-position: -78px 0px
}
.footer_middle .prodct_logo ul li:nth-child(3) {
	background-position: -150px 0px
}
.footer_middle .prodct_logo ul li:nth-child(4) {
	background-position: -74px -37px
}
.footer_middle .prodct_logo ul li:nth-child(5) {
	background-position: -153px -37px
}
.footer_middle .prodct_logo ul li:nth-child(6) {
	background-position: -226px -37px
}
.footer_middle .prodct_logo ul li:nth-child(7) {
	background-position: -75px -84px
}
.footer_middle .prodct_logo ul li:nth-child(8) {
	background-position: -154px -84px
}
.footer_middle .prodct_logo ul li:nth-child(9) {
	background-position: -225px -84px
}
.footer_middle .prodct_logo ul li:nth-child(10) {
	background-position: -76px -124px
}
.footer_middle .prodct_logo ul li:nth-child(11) {
	background-position: -154px -124px
}
.footer_middle .prodct_logo ul li:nth-child(12) {
	background-position: 0px -124px
}
.footer_middle .prodct_logo ul li:nth-child(13) {
	background-position: 0px -163px
}
.footer_middle .prodct_logo ul li:nth-child(14) {
	background-position: -225px 0px
}
.footer_middle .prodct_logo ul li:nth-child(15) {
	background-position: 0px -37px
}
.footer_middle .prodct_logo ul li:nth-child(16) {
o	background-position: 0px -84px
}
.footer_middle .prodct_logo ul li:nth-child(17) {
	background-position: -0px -124px
}
.footer_middle .copyright {
	transform: skewX(-15deg);
	margin-left: -10px
}
}
@media (max-width: 768px) {
.footer_part .footer_btob {
	position: relative;
	height: auto
}



.footer_left {
	width: 40%;
	height: 360px
}
.footer_left .company_details {
	width: 90%;
	margin: auto
}
.footer_left .company_details h4 {
	font-size: 18px;
	margin-top: 24px
}
.footer_left .company_details ul li a {
	font-size: 14px
}
.footer_left .triangl {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	top: inherit;
	padding: 0 10px;
	right: inherit;
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0)
}
.footer_left .triangl .support {
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	margin: 0;
	padding-left: 0;
	width: 100%;
	padding-top: 6px
}
.footer_middle {
	width: 100%;
	height: auto;
	transform: skewX(0deg);
	-webkit-transform: skewX(0deg);
	-moz-transform: skewX(0deg);
	-o-transform: skewX(0deg);
	-ms-transform: skewX(0deg);
	padding: 10px 0;
	margin-top: 85px;
	box-shadow: 0px 0 16px 3px #000
}
.footer_middle .prodct_logo {
	width: 98%
}
.footer_middle .prodct_logo ul li {
	width: 114px;
	height: 49px;
	background: url("../images/product_logo.png") no-repeat;
	background-position: 0 0;
	transform: skewX(-25deg);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg);
	-o-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	background-size: 528px;
	display: inline-block;
	margin: 4px 6px;
	position: relative;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1)
}
.footer_middle .prodct_logo ul li:hover {
	transform: skewx(0deg) scale(1.2)
}
.footer_middle .prodct_logo ul li:nth-child(2) {
	background-position: -141px 0px
}
.footer_middle .prodct_logo ul li:nth-child(3) {
	background-position: -274px 0px
}
.footer_middle .prodct_logo ul li:nth-child(4) {
	background-position: -136px -69px
}
.footer_middle .prodct_logo ul li:nth-child(5) {
	background-position: -278px -69px
}
 .footer_middle .prodct_logo ul li:nth-child(6) {
	background-position: -410px -69px
}
 .footer_middle .prodct_logo ul li:nth-child(7) {
	background-position: -141px -154px
}
 .footer_middle .prodct_logo ul li:nth-child(8) {
	background-position: -279px -154px
}
 .footer_middle .prodct_logo ul li:nth-child(9) {
	background-position: -410px -154px
}
.footer_middle .prodct_logo ul li:nth-child(10) {
	background-position: -141px -227px
}
 .footer_middle .prodct_logo ul li:nth-child(11) {
	background-position: -279px -227px
}
  .footer_middle .prodct_logo ul li:nth-child(12) {
	background-position: 0px -227px
}
 .footer_middle .prodct_logo ul li:nth-child(13) {
	background-position: 0px -300px
}
.footer_middle .prodct_logo ul li:nth-child(14) {
	background-position: -410px 0px
}
.footer_middle .prodct_logo ul li:nth-child(15) {
	background-position: 0px -70px
}
.footer_middle .prodct_logo ul li:nth-child(16) {
	background-position: 0px -154px
}
.footer_middle .copyright {
	transform: skewX(0deg);
	-webkit-transform: skewX(0deg);
	-moz-transform: skewX(0deg);
	-o-transform: skewX(0deg);
	-ms-transform: skewX(0deg)
}
.footer-right {
	width: 60%
}
.footer-right .triang2 {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: -70px;
	top: inherit;
	left: inherit;
	right: 0;
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0)
}
.footer-right .triang2 .support-apps {
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	margin: 0;
	padding-left: 0;
	width: 100%;
	height: 50px
}
.footer-right .triang2 .support-apps .apps {
	float: right;
	width: 240px;
	padding-top: 13px
}
.footer-right .footer_rt_details {
	margin-top: 0
}
.footer-right .footer_rt_details .footer_sbmenu {
	margin-top: 0;
	padding-left: 0;
	width: 50%;
	height: 290px
}
.footer-right .footer_rt_details .footer_sbmenu:nth-child(2) {
	width: 50%;
	margin-top: 0;
	position: relative
}
.footer-right .footer_rt_details .footer_sbmenu .reach_us {
	width: 190%;
	position: absolute;
	top: 166px;
	left: -100%
}
.footer-right .footer_rt_details .footer_sbmenu .reach_us p {
	font-size: 14px
}
.footer-right .footer_rt_details .footer_sbmenu ul li a {
	font-size: 14px
}
.footer-right .footer_rt_details .social_network {
	position: absolute;
	bottom: -134px;
	left: -50%;
	width: 140%;
	margin: 0
}
}
@media (max-width: 480px) {

.footer_left {
	width: 50%
}
.footer_left .triangl {
	width: 192%;
	bottom: -139px
}
.footer_left .triangl .support {
	width: 200px;
	margin: auto;
	float: none
}
.footer_part .footer_btob .footer-right {
	width: 50%
}
.footer-right .footer_rt_details .footer_sbmenu {
	width: 100%;
	height: 160px
}
.footer-right .footer_rt_details .footer_sbmenu:nth-child(2) {
	width: 100%
}
.footer-right .footer_rt_details .footer_sbmenu .reach_us {
	top: 123px;
	left: -89%
}
.footer-right .footer_rt_details .footer_sbmenu .reach_us p {
	width: 95%
}
.footer_rt_details .social_network {
	bottom: -238px;
	left: -60%;
	width: 210px
}
.footer-right .triang2 {
	bottom: -130px;
	left: -100%;
	width: 200%
}
.footer-right .triang2 .support-apps {
	width: 225px;
	float: none;
	margin: auto
}
.footer-right .triang2 .support-apps .apps {
	width: 100%;
	margin: auto;
	float: none
}
.footer_middle {
	margin-top: 215px
}
.footer_middle .prodct_logo {
	width: 100%
}
}
@media (max-width: 360px) {
.footer_middle .prodct_logo {
	width: 300px
}
}
